/* Mobile first design */

body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
}
header {
    background-color: #3d66ce;
    color: white;
    padding-top: 0.1px;
}
/* I wanted the menu button to be aligned to the left since it is an icon and not text. */
main {
    text-align: center;
    padding-top: 0.1px;
    background-color: #BDC0C0;
    padding-bottom: 15px;
}
footer {
    text-align: center;
    background-color: #3d66ce;
    color: white;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}

h1 {
    text-align: center;
}

nav {
    padding-bottom: 20px;
}
nav a {
    padding: 20px;
    color: white;
}
nav a:hover {
    text-decoration: none;
    color: #b3d7e0;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: rgb(11, 6, 65);
    margin: 5px 0;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
    /* justify-content: center; */
    /* Dosent work because display grid will not work for it. So below I do margin left and right auto. */
    padding-left: 40px;
    padding-right: 40px;
}
img {
    width: 300px;
    height: 300px;
    object-fit: cover;

    padding: 5px;
    background-color: white;
    border: 1px solid rgb(122, 122, 122);
    box-shadow: 5px 5px 10px 0px rgb(62, 62, 62);
    /* margin: 12px, auto, 12px, auto; */
    /* top, right, bottom, then left */
    /* For some reason did not work. */
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

/* Adding all CSS for week 4 below here. */
.hide {
    display: none;
}
.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}
nav a {
    display: block;
    text-align: center;
    padding: 12px;
}
.bar1, .bar2, .bar3 {
    transition: 0.5s;
}

dialog img {
    width: 90%;
    height: 60%;
    display: block;
    margin: 20vh auto;
    padding: 0%;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 16%;
    right: 2%;
    padding: 6px 6px;
    font-size: 1.2em;
}


/* I did 750 and 1110 px due to the nice right side padding being cut off between 700 and 750px and 1000 and 1110px. */
@media screen and (min-width: 750px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
    dialog img {
    width: 90%;
    height: 70%;
    margin: 15vh auto;
    }
    .close-viewer {
        /* Come back to below */
        top: 10%;
        right: 4%;
    }
}

@media screen and (min-width: 1110px) {
    section {
            grid-template-columns: 1fr 1fr 1fr;
        }
    .hide {
    display: block;
    }
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline;
    }
    nav {
        text-align: center;
    }
    dialog img {
    width: 50%;
    height: 75%;
    margin: 15vh auto;
    }
    .close-viewer {
        position: absolute;
        /* Come back to below */
        top: 12%;
        right: 23%;
        padding: 6px 6px;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
    }